#product-section {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

#app-section {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

#app-embed {
    width: 100%;
}

ol .alternating-colors {
    text-align: left;
    padding-left: 50px;
}

.alternating-colors li {
    color: gray;
    padding-left: 16px;
    margin-top: 24px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
}

.alternating-colors li:before {
    content: '';
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute;
    top: -10px;
    left: -30px;
}

strong {
    color: #000;
}

.alternating-colors li:nth-child(odd):before {
    border-color: #1A374D;
}

.alternating-colors li:nth-child(even):before {
    border-color: #3974A2;
}