body {
    text-align: center;
    margin: 0;
    min-height: 100vh;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

p {
    line-height: 24px;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 100px;
    width: 100px;
}

.header {
    margin: 0;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1A374D;
    color: #fff;
    padding: 0 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo-item {
    width: 40%;
    display: flex;
    justify-content: flex-start;
}

.title-item {
    width: 20%;
    display: flex;
    justify-content: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.nav-item a {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    color: #fff;
    text-decoration: none;
    margin: 0 12px;
}

.nav-item a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #fff;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.nav-item a:hover:before {
    width: 100%;
}

.nav-item.selected a:before {
    width: 100%;
}

footer {
    background-color: #1A374D;
    background-image: url("assets/Footer.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    color: #fff;
    padding-bottom: 35px;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.logo-column {
    width: 35%;
    padding-right: 5%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer-logo {
    width: 100px;
}

.pages-columns {
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.pages-column {
    width: 30%;
}

.pages-column ul {
    list-style: none;
    padding: 0;
}

.pages-column li {
    margin-bottom: 10px;
}

.pages-column a {
    color: #fff;
    text-decoration: none;
}

.pages-column a:hover {
    color: #3974A2;
}

.context {
    text-align: center;
}

.context p {
    margin: 5px;
}

.github-icon {
    width: 30px;
    cursor: pointer;
}

#footer-banner {
    max-width: 100%;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.thunkable-icon {
    width: 40px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 25px;
}

.github-icon {
    width: 25px;
    cursor: pointer;
    margin-right: 20px;
    padding: 9px;
    background-color: #fff;
    border-radius: 25px;
}